*.meta
.DS_Store
.vs/
Temp/
obj/
Build/
Library/

ExportedObj/
consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

sysinfo.txt

*.apk
*.unitypackage
UnityPackageManager/

